Repository hashgraph/hedera-sourcify, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                       @hashgraph/hedera-smart-contracts @hashgraph/dev-experience


#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protections for nvm
**/.nvmrc                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts @hashgraph/dev-experience

# Typescript Protection
**/package.json                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts @hashgraph/dev-experience
**/package-lock.json                            @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts @hashgraph/dev-experience
**/tsconfig.json                                @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts @hashgraph/dev-experience

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts @hashgraph/dev-experience


# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers  @hashgraph/hedera-smart-contracts @hashgraph/dev-experience
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers  @hashgraph/hedera-smart-contracts @hashgraph/dev-experience
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers  @hashgraph/hedera-smart-contracts @hashgraph/dev-experience

Updating sourcify for npm etc.
  .github/workflows/push-images.yaml
  .github/workflows/tests.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Added setup node and install make steps
  .github/workflows/push-images.yaml
  .github/workflows/tests.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

docs: include Foundry project example in `tools` (#191)
  .gitmodules
  README.md
  tools/README.md
  tools/foundry/.gitignore
  tools/foundry/README.md
  tools/foundry/foundry.toml
  tools/foundry/script/Counter.s.sol
  tools/foundry/src/Counter.sol
  tools/foundry/test/Counter.t.sol
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Remove the `repository` patch given the patch was included upstream
  .github/workflows/push-images.yaml
  README.md
  package.json
  repository.patch
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

More code review feedback
  charts/values.yaml
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Code review feedback
  charts/templates/server-repository/configmap.yaml
  charts/templates/server-repository/deployment.yaml
  charts/values.yaml
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

add defaults for server and repository container
  charts/values.yaml
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Update default image tags to 'main'
  charts/values.yaml
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Update configmap to use internal URL
  charts/templates/server-repository/configmap.yaml
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Update chart to support upstream images
  charts/templates/server-repository/configmap.yaml
  charts/templates/server-repository/deployment.yaml
  charts/templates/ui/deployment.yaml
  charts/values.yaml
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Code review feedback
  charts/templates/server-repository/configmap.yaml
  charts/values.yaml
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Introduce dummy commit to re-trigger DCO check
  .github/release.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: remove the `repository` patch given the patch was included upstream (#194)
  .github/release.yaml
  .github/workflows/push-images.yaml
  README.md
  package.json
  repository.patch
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Use `large` self-hosted runner to build and push images
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Added cgroups for the github runner agent prior to the docker build steps
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Turned off push for testing
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Get System Config did not run seemingly. Throwing in an echo...
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Troubleshooting cgroup config
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Added sudo to cgset?
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Added docker-group
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Adding in a user slice per recommendation from RE
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Updated the control group limit parameters to match cgroupv2
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Updated cpu parameter from cpu.shares to cpu.weight
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Clean up debug info here.
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Reorder steps so that we only set control groups before Build and Push REPOSITORY Image
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

rearrange control group steps
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Added a large runner to push-images.yml
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Needed to add cgroup-parent parameter to the three build and push steps
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Reverted to large cgroup.
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Adjusted memory max to fit within the bounds of a medium runner
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Taking out the cgroup changes for now. Adding back in the large runner
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

retrying cgroups after large runner fix
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

build: use `large` self-hosted runner to build and push images (#197)
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Setup cache to build images in CI
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Temporarly remove `server` and `repository` builds to test cache for `ui`
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Reenable `server` build
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Reenable `repository` build
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Use `scope` to properly cache when having multi-step job
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Retry building only `ui` with `scope` set
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience

Reenable `server` build using right `scope`
  .github/workflows/push-images.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @hashgraph/dev-experience
